extends layout.pug

block content

  article.portfolio-intro

    h1 Portfolio

    p Check out some projects I've worked on while learning through Treehouse's Techdegree program!


  article.portfolio-project-thumbs
    .projects-box.box.grid
 
      each id in projects

        .cell
          a(href=`/project/${id.id}` target="_blank")
            img.thumbnail(src=`${id.image_urls[0]}`, alt=`${id.project_name} thumbnail`)
            h5 #{id.project_name}